body {
  font-family: sans-serif;
}

input {
  border-radius: 0.8rem;
  border: none;
  padding: 0.5rem;
  outline: none;
}

button {
  border-radius: 0.8rem;
  border: none;
  padding: 0.5rem 0.8rem;
  outline: none;
  margin: 0 0.3rem;
}
button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #c1ffff;
  width: 400px;
  height: 30px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.incomplete-area {
  background-color: #c6ffe2;
  width: 400px;
  min-height: 200px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}
.complete-area {
  background-color: #ffffe0;
  width: 400px;
  min-height: 200px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.title {
  text-align: center;
  margin: 0 auto auto auto;
  font-weight: bold;
  color: #666;
}

ul .list-row {
  display: flex;
  align-items: center;
  padding: 0;
}
ul .list-row p {
  margin-right: 0.5rem;
}
